{{/*
Go generator.
Go templates are a bit of a mess, but preferable to writing this by hand.
Reference: https://pkg.go.dev/text/template
Additional functions:
	throw (format string, args ...any)
		Create an error to stop execution of the template.
	uvarint (n number)
		Get the uvarint bytes for n. n can be of any type convertible to uint64.
	gotag (p []uint8)
		Create list of bytes to be used with append.
		Prints them as hex characters if len(p) > 1, or as a broken-down
		combination of record number + type if len(p) == 1.
*/}}

{{/* Used to "stringify" a type.
	Parameter: Record */}}
{{ define "type" }}
{{- if eq .Kind "struct" -}}
struct {
	{{- range .Fields }}
	{{ .Name }} {{ template "type" .Record }} `json:"{{ .JSONName }}
		{{- if .Has "json_omit_empty" -}},omitempty{{- end -}}"
		{{- if .Has "fixed64" }} binary:"fixed64"{{- end }}
		{{- if .Has "fixed32" }} binary:"fixed32"{{- end }}`
	{{- end }}{{/*- TODO: Reconstruct more tags */}}
}
{{- else if eq .Kind "repeated" -}}
	[{{ if ne .Size -1 }}{{ .Size }}{{ end }}]{{ template "type" .Elem }}
{{- else if eq .Kind "scalar" -}}
	{{ .Name }}
{{- else if eq .Kind "optional" -}}
	*{{ template "type" .Elem }}
{{- else if eq .Kind "bytes" -}}
	{{- if .String -}}
		string
	{{- else if ne .Size -1 -}}
		[{{ .Size }}]byte
	{{- else -}}
		[]byte
	{{- end -}}
{{- else -}}
	{{ throw "unknown kind %s" .Kind }}
{{- end -}}
{{ end }}{{/* end "type" */}}


{{/* Used to create an encoder for a type.
	Parameter: StructRecord */}}
{{ define "encoder" }}
{{- if ne .Kind "struct" -}}{{ throw "cannot encode type %s" .Kind }}{{- end -}}
{{/*- TODO: pre-calculate minium sizes for encoding the struct, and grow b accordingly. -*/}}
{{- range .Fields }}
	{{- template "encoder_field" . -}}
{{ end }}
{{ end }}

{{/* Used to create an encoder for a struct field.
	Parameter: StructField. */}}
{{ define "encoder_field" }}
{{- if eq .Record.Kind "struct" }}
	// field number {{ .BinFieldNum }}
	{{ if eq 0 (len .Record.Fields) }}
		{{ if .Has "write_empty" }}
			// (no fields, just encode 0-length)
			b = append(b, {{ gotag .Tag }}, 0)
		{{ else }}
			// (no fields, skip as there is no write_empty)
		{{ end }}
	{{ else }}
		{
			startLen := len(b)
			msg := msg.{{ .Name }}
			{{ template "encoder" .Record }}
			encodedSize := uint64(len(b) - startLen)

			switch {
			case encodedSize == 0:
			{{ if .Has "write_empty" }}
				// empty -- append tag and 0 (write_empty).
				b = append(b, {{ gotag .Tag }}, 0)
			{{ else }}
				// empty -- nothing to do.
			{{ end }}
			case encodedSize <= maxVarint1:
				const shift = {{ len .Tag }} + 1
				b = growBytes(b, shift)[:len(b)+shift]
				copy(b[startLen+shift:], b[startLen:len(b)-shift])
				_ = append(b[:startLen], {{ gotag .Tag }}, byte(encodedSize))
			default:
				shift := {{ len .Tag }} + uvarintSize(encodedSize) // tag length + uvarint size
				b = growBytes(b, shift)[:len(b)+shift]
				copy(b[startLen+shift:], b[startLen:len(b)-shift])
				_ = append(b[:startLen], {{ gotag .Tag }})
				putUvarint(b[startLen+{{ len .Tag }}:startLen+shift], encodedSize)
			}
		}
	{{ end }}
{{- else if eq .Record.Kind "repeated" }}
	// field number {{ .BinFieldNum }}
	{{ if eq 0 .Record.Size }} {{/*- [0]T */}}
		{{ if .Has "write_empty" }}
			// (0-element array, just encode 0-length)
			b = append(b, {{ gotag .Tag }}, 0)
		{{ else }}
			// (no fields, skip as there is no write_empty)
		{{ end }}
	{{ else if ne -1 .Record.Size }} {{/*- array */}}
		{{ throw "TODO" }}
	{{ else }} {{/*- slice */}}
		for _, el := range msg.{{ .Name }} {
			msg := struct { {{ .Name }} {{ template "type" .Record.Elem }} }{ el }
			{{ template "encoder_field" (.WithRecord .Record.Elem) }}
		}
	{{ end }}
{{- else if eq .Record.Kind "scalar" }}
	{{ if (or (.Has "fixed64") (eq .Name "float64")) }}
		{
			u64 := *(*uint64)(unsafe.Pointer(&msg.{{ .Name }})) {{/*- same as math.Float64frombits */}}
			{{ if not (.Has "write_empty") }}if u64 != 0 { {{- end }}
			// field number {{ .BinFieldNum }}
			b = append(b, {{ gotag .Tag }})
			b = growBytes(b, 8)[:len(b)+8]
			putUint64(b[len(b)-8:], u64)
			{{ if not (.Has "write_empty") }} } {{ end }}
		}
	{{ else if (or (.Has "fixed32") (eq .Name "float32")) }}
		{
			u32 := *(*uint32)(unsafe.Pointer(&msg.{{ .Name }})) {{/*- same as math.Float32frombits */}}
			{{ if not (.Has "write_empty") }}if u32 != 0 { {{- end }}
			// field number {{ .BinFieldNum }}
			b = append(b, {{ gotag .Tag }})
			b = growBytes(b, 4)[:len(b)+4]
			putUint32(b[len(b)-4:], u32)
			{{ if not (.Has "write_empty") }} } {{ end }}
		}
	{{ else if eq .Record.Name "bool" }} {{/*- TODO: does using unsafe +direct write make sense here? what's the assembly code? */}}
		if msg.{{ .Name }} {
			// field number {{ .BinFieldNum }}
			b = append(b, {{ gotag .Tag }}, 1)
		}{{ if .Has "write_empty" }} else {
			b = append(b, {{ gotag .Tag }}, 0)
		}{{ end }}
	{{ else if .Record.IsUnsigned }}
		{{ if not (.Has "write_empty") }}if msg.{{ .Name }} != 0 { {{- end }}
		// field number {{ .BinFieldNum }}
		b = append(b, {{ gotag .Tag }})
		b = growBytes(b, 10)
		b = b[:len(b)+putUvarint(b[len(b):len(b)+10], uint64(msg.{{ .Name }}))]
		{{ if not (.Has "write_empty") -}} } {{- end }}
	{{ else }}
		{{ if not (.Has "write_empty") }}if msg.{{ .Name }} != 0 { {{- end }}
		// field number {{ .BinFieldNum }}
		b = append(b, {{ gotag .Tag }})
		b = growBytes(b, 10)
		b = b[:len(b)+putVarint(b[len(b):len(b)+10], int64(msg.{{ .Name }}))]
		{{ if not (.Has "write_empty") -}} } {{- end }}
	{{ end }}
{{- else if eq .Record.Kind "optional" }}
	if msg.{{ .Name }} != nil {
		// use a new "msg" so we can encode the underlying field directly.
		// with _ = msg, avoid "unused" warnings.
		msg := struct { {{ .Name }} {{ template "type" .Record.Elem }} }{ *msg.{{ .Name }} }
		_ = msg

		{{ template "encoder_field" (.WithRecord .Record.Elem) }}
	}
{{- else if and (eq .Record.Kind "bytes") (eq .Record.Size -1) }} {{/*- slices */}}
	{{ $f := printf "msg.%s" .Name -}}
	// field number {{ .BinFieldNum }}
	switch {
	case len({{ $f }}) == 0:
	{{ if .Has "write_empty" }}
		b = append(b, {{ gotag .Tag }}, 0)
	{{ else }}
		// nothing to write
	{{ end }}
	case len({{ $f }}) <= maxVarint1:
		b = append(b, {{ gotag .Tag }}, byte(len({{ $f }})))
		b = append(b, {{ $f }}...)
	case len({{ $f }}) <= maxVarint2:
		b = append(b, {{ gotag .Tag }}, byte(len({{ $f }}) | 0x80), byte(len({{ $f }}) >> 7))
		b = append(b, {{ $f }}...)
	default:
		b = growBytes(b, {{ len .Tag }} + 10 + len({{ $f }}))
		b = append(b, {{ gotag .Tag }})
		uvlen := putUvarint(b[len(b):len(b)+10], uint64(len({{ $f }})))
		b = b[:len(b)+uvlen]
		b = append(b, {{ $f }}...)
	}
{{- else if eq .Record.Kind "bytes" }} {{/*- arrays */}}
	{{- $f := printf "msg.%s" .Name }}
	// field number {{ .BinFieldNum }}
	{{ if eq .Record.Size 0 }}
		// skipped (zero-element array)
	{{ else }}
		b = append(b,
			// tag
			{{ gotag .Tag }},
			// size
			{{ range uvarint .Record.Size }}{{ . }}, {{ end }}
		)
		b = append(b, {{ $f }}[:]...)
	{{ end }}
{{- else -}}
	{{ throw "unknown kind %s" .Record.Kind }}
{{- end -}}
{{ end }}{{/* end "encoder_field" */}}

{{/* Main entrypoint from Go code.
	Parameter: []StructRecord. */}}
{{ define "main" -}}
// Code generated by tomgen (tomino). DO NOT EDIT.

package tomtypes

import "unsafe"

{{ range . -}}

{{- $name := printf "%sMessage" .Name -}}
// {{ $name }} is the tomino message for the type
// {{ .Source }}
type {{ $name }} {{ template "type" . }}

// MarshalBinary encodes the data in the message using the generated tomino
// marshaler. It calls [{{ $name }}.AppendBinary] with a pre-allocated buffer
// of 64 bytes, as opposed to Go's default of 8, which can improve performance
// by avoiding extra allocations on low byte counts. For the best performance,
// re-use buffers with AppendBinary.
func (msg {{ $name }}) MarshalBinary() ([]byte, error) {
	return msg.AppendBinary(make([]byte, 0, 64))
}

// AppendBinary encodes the data in the message using the generated tomino
// marshaler, appending the encoded bytes to b and returning the result.
func (msg {{ $name }}) AppendBinary(b []byte) ([]byte, error) {
	{{ template "encoder" . }}
	return b, nil
}

{{ end -}}

// ---
// encoding helpers

// Non-generic version of slices.Grow.
func growBytes(s []byte, n int) []byte {
	if n -= cap(s) - len(s); n > 0 {
		s = append(s[:cap(s)], make([]byte, n)...)[:len(s)]
	}
	return s
}

const (
	// These are common when encoding lengths, and have fast paths instead of
	// calling putUvarint.
	maxVarint1 = (1 << 7) - 1
	maxVarint2 = (1 << 7) - 1

	len8tab = "" +
		"\x00\x01\x02\x02\x03\x03\x03\x03\x04\x04\x04\x04\x04\x04\x04\x04" +
		"\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05\x05" +
		"\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06" +
		"\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06\x06" +
		"\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07" +
		"\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07" +
		"\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07" +
		"\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07\x07" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08" +
		"\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08\x08"
)

// len64 returns the minimum number of bits required to represent x; the result is 0 for x == 0.
// from math/bits.
func len64(x uint64) (n int) {
	if x >= 1<<32 {
		x >>= 32
		n = 32
	}
	if x >= 1<<16 {
		x >>= 16
		n += 16
	}
	if x >= 1<<8 {
		x >>= 8
		n += 8
	}
	return n + int(len8tab[x])
}

func uvarintSize(x uint64) int {
	// +6 allows us to count any "remainder" as a full byte to be encoded.
	return (len64(x)+6) / 7
}

// putUvarint encodes a uint64 into buf and returns the number of bytes written.
// If the buffer is too small, PutUvarint will panic.
// Copied from package binary.
func putUvarint(buf []byte, x uint64) int {
	i := 0
	for x >= 0x80 {
		buf[i] = byte(x) | 0x80
		x >>= 7
		i++
	}
	buf[i] = byte(x)
	return i + 1
}

// putVarint encodes an int64 into buf and returns the number of bytes written.
// If the buffer is too small, PutVarint will panic.
func putVarint(buf []byte, x int64) int {
	ux := uint64(x) << 1
	if x < 0 {
		ux = ^ux
	}
	return putUvarint(buf, ux)
}

func putUint64(b []byte, v uint64) {
	_ = b[7] // early bounds check to guarantee safety of writes below
	b[0] = byte(v)
	b[1] = byte(v >> 8)
	b[2] = byte(v >> 16)
	b[3] = byte(v >> 24)
	b[4] = byte(v >> 32)
	b[5] = byte(v >> 40)
	b[6] = byte(v >> 48)
	b[7] = byte(v >> 56)
}

func putUint32(b []byte, v uint32) {
	_ = b[3] // early bounds check to guarantee safety of writes below
	b[0] = byte(v)
	b[1] = byte(v >> 8)
	b[2] = byte(v >> 16)
	b[3] = byte(v >> 24)
}

// avoid unused import errors.
var _ = unsafe.Pointer((*int)(nil))

{{ end }}{{/* end "main" */}}
